@page
@model Exercicio07Model
<h1>Garantia de Robustez na Invocação de Delegates</h1>

<form method="post">
    <label>Insira uma mensagem de log:</label>
    <input type="text" asp-for="MensagemLog" required />
    <button type="submit">Registrar Log</button>
</form>

@if (Model.LogRegistrado.Count > 0)
{
    <h2>Saída do Log:</h2>
    <ul>
        @foreach (var log in Model.LogRegistrado)
        {
            <li>@log</li>
        }
    </ul>
}