@page
<h1>Bem-vindo!</h1>

<p>Clique abaixo para acessar o TP1:</p>

<a href="/TP1/Exercício01">Ir para o exercício 01</a> 
<br />
<a href="/TP1/Exercício02">Ir para o exercício 02</a>
<br />
<a href="/TP1/Exercício03">Ir para o exercício 03</a>
<br />
<a href="/TP1/Exercício04">Ir para o exercício 04</a>
<br />
<a href="/TP1/Exercício05">Ir para o exercício 05</a>
<br />
<a href="/TP1/Exercício06">Ir para o exercício 06</a>
<br />
<a href="/TP1/Exercício07">Ir para o exercício 07</a>
<br />
<a href="/TP1/Exercício08">Ir para o exercício 08</a>
<br />
<a href="/TP1/Exercício10">Ir para o exercício 10</a>
<br />
<a href="/TP1/Exercício11">Ir para o exercício 11</a>
<br />
<a href="/TP1/Exercício12">Ir para o exercício 12</a>
<br />